<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS CDN (remote) -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
    crossorigin="anonymous"
  />
  <title>Users</title>
</head>
<body>
  <div class="container">
    <h3 class='text-center'>All Users</h3>
    <table class="table  table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
          <th scope="col">Created At</th>
        </tr>
      </thead>
      <tbody>
        {% for friend in friends %}
          <tr>
            <th scope="row">{{ friend.id }}</th>
            <td>{{ friend.first_name + ' ' + friend.last_name}}</td>
            <td>{{ friend.occupation  }}</td>
            <td>{{ friend.created_at.strftime("%d %B, %Y") }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  
    <a href="/users/new" class="btn btn-info">Add User</a>
  </div>
</body>
</html>